*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

img {
  max-width: 100%;
  transform-origin: top left;
}

#app {
  background: hsl(0, 5%, 6%);
  min-height: 100%;
}

.gallery {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: var(--gallery-height, 310vw);
}

.gallery::before,
.gallery::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.gallery-item {
  width: 33.3%;
  margin: 0;
  position: relative;
}

.gallery-item[data-flipping] {
  z-index: 3;
}

.gallery-item:nth-child(3n+1) {
  order: 1;
}

.gallery-item:nth-child(3n+2) {
  order: 2;
}

.gallery-item:nth-child(3n) {
  order: 3;
}

.gallery-item img {
  display: block;
}

.gallery-item figcaption {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  text-shadow: 0px 0px 3px #333;
  font-family: monospace;
}

.details {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: none;
  opacity: 0;
  pointer-events: none;
}

[data-state="details"] .details {
  background: hsla(0, 3%, 5%, 0.8);
  transition: background 0.5s;
  pointer-events: auto;
  opacity: 1;
}

.details figure {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4vmin;
}

.details figure img {
  max-width: 100%;
  max-height: 100%;
}

.details figure figcaption {
  display: none;
}
